<h1>Prehistoric Creatures</h1>

<ul>
    <% myDinos.forEach((dino, idx) => { %>
        
        <li>
            <div>

                <a href="/prehistoric_creatures/<%= idx %> ">
                    <%= dino.type %>
                </a>

            </div>
        </li>

        <a href="/prehistoric_creatures/edit/<%= idx %> ">Edit</a>

        <form method="POST" action="/prehistoric_creatures/<%= idx %>/?_method=DELETE">
            <input type="submit" value="Delete Dino">
        </form>
        
    <% }); %>
</ul>