<form method="POST" action="/prehistoric_creatures">

    <label for="preHistoricType">Type</label>
    <input type="text" name="type" id="preHistoricType"><br>

    <label for="preHistoricImgUrl">Img Url</label>
    <input type="text" name="img_url" id="preHistoricImgUrl"><br>

    <input type="submit" value="Submit">
</form>